<% if user_signed_in? && current_user.admin? %>
<div ng-app="app">
  <div class="container">
    <h1>Administrator information and editing page</h1>
    <div class = "row">
      <div class="col-md-3">
        <div class = 'adminPage'>
          <h1>Your Order:</h1><br>
          <table class="table table-striped table-bordered table-responsive">
            <tr>
              <th>Edit</th>
              <th>Delete</th>
              <th>Mentor</th>
              <th>Add Appointments</th>
            <% @mentors.each do |mentor| %>                 
              <% mentor.appointments.each do |appointment| %>
              <th>Delete</th>
              <th>Appointment</th>
              <% end %>
            </tr>

            <tr>
              <td><%= link_to 'EDIT Mentor', edit_mentor_path(mentor.id) %></td>
              <td><a data-confirm="Are you sure?" data-method="delete" href="/mentors/<%= mentor.id %>" rel="nofollow"><button type="button" class="btn btn-danger">Delete Mentor</button></a></td>
              <td><%= mentor.full_name %></td>
              <td><%= link_to 'ADD Appointments?', mentor_path(mentor.id) %></td>
                <% mentor.appointments.each do |appointment| %>
              <td><a data-confirm="Are you sure?" data-method="delete" href="/appointments/<%= appointment.id %>" rel="nofollow"><button type="button" class="btn btn-danger">Delete Appt.</button></a></td>
              <td><%= appointment.date_start_time.strftime("%I:%M %p") %><br><%= appointment.date_start_time.strftime("%v") %><br><%= appointment.duration%> minutes</td>
                <% end %> 
              </tr>
            <% end %>  
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>