<div class="page-heading-one">
  <h2>Mentors</h2>
</div>
<!-- Container Starts -->
<div class="container">  
  
  <!-- UI 50 Starts -->
  <div class="ui-50">
    <!-- Row Starts -->
    <div class="row">
      <!-- Column Starts -->
      <div class="col-md-3 col-sm-4 col-xs-12 bor">
        <!-- UI Item Starts -->
        <div class="ui-item bg-red">
          <!-- Name -->
          <h4 class="rotate-right"><span>Anjana</span></h4>
          <!-- User Image -->
          <%= image_tag "user/1.jpg", class: "img-responsive" %>
          <!-- UI Social Icon Starts --> 
          <div class="ui-icons">
            <!-- Email Icon -->
            <a href="#" class="b-tooltip" title="Email"><i class="fa fa-envelope"></i></a>&nbsp;&nbsp;
            <!-- Phone Icon -->
            <a href="#" class="b-tooltip" title="Phone"><i class="fa fa-phone"></i></a>&nbsp;&nbsp;
            <!-- Facebook Icon -->
            <a href="#" class="b-tooltip" title="Facebook"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
            <!-- Twitter Icon -->
            <a href="#" class="b-tooltip" title="Twitter"><i class="fa fa-twitter"></i></a> 
          </div>
          <!-- UI Social Icon Ends -->
        </div>
        <!-- UI Item Ends -->
      </div>
      <!-- Column Ends -->
      <!-- Column Starts -->
      <div class="col-md-3 col-sm-4 col-xs-12 bor">
        <!-- UI Item Starts -->
        <div class="ui-item bg-yellow">
          <h4 class="rotate-left"><span>Larry</span></h4>
          <%= image_tag "user/2.jpg", class: "img-responsive" %>          <!-- UI Social Icon Starts -->
          <div class="ui-icons">
            <!-- Email Icon -->
            <a href="#" class="b-tooltip" title="Email"><i class="fa fa-envelope"></i></a>&nbsp;&nbsp;
            <!-- Phone Icon -->
            <a href="#" class="b-tooltip" title="Phone"><i class="fa fa-phone"></i></a>&nbsp;&nbsp;
            <!-- Facebook Icon -->
            <a href="#" class="b-tooltip" title="Facebook"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
            <!-- Twitter Icon -->
            <a href="#" class="b-tooltip" title="Twitter"><i class="fa fa-twitter"></i></a> 
          </div>
          <!-- UI Social Icon Ends -->
        </div>
        <!-- UI Item Ends -->
      </div>
      <!-- Column Ends -->
      <!-- Column Starts -->
      <div class="col-md-3 col-sm-4 col-xs-12 bor">
        <!-- UI Item Starts -->
        <div class="ui-item bg-green">
          <h4 class="rotate-right"><span>Marry</span></h4>
          <%= image_tag "user/3.jpg", class: "img-responsive" %>          <!-- UI Social Icon Starts -->
          <div class="ui-icons">
            <!-- Email Icon -->
            <a href="#" class="b-tooltip" title="Email"><i class="fa fa-envelope"></i></a>&nbsp;&nbsp;
            <!-- Phone Icon -->
            <a href="#" class="b-tooltip" title="Phone"><i class="fa fa-phone"></i></a>&nbsp;&nbsp;
            <!-- Facebook Icon -->
            <a href="#" class="b-tooltip" title="Facebook"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
            <!-- Twitter Icon -->
            <a href="#" class="b-tooltip" title="Twitter"><i class="fa fa-twitter"></i></a> 
          </div>
          <!-- UI Social Icon Ends -->
        </div>
        <!-- UI Item Ends -->
      </div>
      <!-- Column Ends -->
      <!-- Column Starts -->
      <div class="col-md-3 col-sm-4 col-xs-12 bor">
        <!-- UI Item Starts -->
        <div class="ui-item bg-blue">
          <h4 class="rotate-left"><span>Joseph</span></h4>
          <%= image_tag "user/4.jpg", class: "img-responsive" %>          <!-- UI Social Icon Starts -->
          <div class="ui-icons">
            <!-- Email Icon -->
            <a href="#" class="b-tooltip" title="Email"><i class="fa fa-envelope"></i></a>&nbsp;&nbsp;
            <!-- Phone Icon -->
            <a href="#" class="b-tooltip" title="Phone"><i class="fa fa-phone"></i></a>&nbsp;&nbsp;
            <!-- Facebook Icon -->
            <a href="#" class="b-tooltip" title="Facebook"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
            <!-- Twitter Icon -->
            <a href="#" class="b-tooltip" title="Twitter"><i class="fa fa-twitter"></i></a> 
          </div>
          <!-- UI Social Icon Ends -->
        </div>
        <!-- UI Item Ends -->
      </div>
      <!-- Column Ends -->
      <!-- Column Starts -->
      <div class="col-md-3 col-sm-4 col-xs-12 bor">
        <!-- UI Item Starts -->
        <div class="ui-item bg-orange">
          <h4 class="rotate-right"><span>Angelina</span></h4>
          <%= image_tag "user/5.jpg", class: "img-responsive" %>          <!-- UI Social Icon Starts -->
          <div class="ui-icons">
            <!-- Email Icon -->
            <a href="#" class="b-tooltip" title="Email"><i class="fa fa-envelope"></i></a>&nbsp;&nbsp;
            <!-- Phone Icon -->
            <a href="#" class="b-tooltip" title="Phone"><i class="fa fa-phone"></i></a>&nbsp;&nbsp;
            <!-- Facebook Icon -->
            <a href="#" class="b-tooltip" title="Facebook"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
            <!-- Twitter Icon -->
            <a href="#" class="b-tooltip" title="Twitter"><i class="fa fa-twitter"></i></a> 
          </div>
          <!-- UI Social Icon Ends -->
        </div>
        <!-- UI Item Ends -->
      </div>
      <!-- Column Ends -->
      <!-- Column Starts -->
      <div class="col-md-3 col-sm-4 col-xs-12 bor">
        <!-- UI Item Starts -->
        <div class="ui-item bg-purple">
          <h4 class="rotate-left"><span>Goerge</span></h4>
          <%= image_tag "user/6.jpg", class: "img-responsive" %>          <!-- UI Social Icon Starts -->
          <div class="ui-icons">
            <!-- Email Icon -->
            <a href="#" class="b-tooltip" title="Email"><i class="fa fa-envelope"></i></a>&nbsp;&nbsp;
            <!-- Phone Icon -->
            <a href="#" class="b-tooltip" title="Phone"><i class="fa fa-phone"></i></a>&nbsp;&nbsp;
            <!-- Facebook Icon -->
            <a href="#" class="b-tooltip" title="Facebook"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
            <!-- Twitter Icon -->
            <a href="#" class="b-tooltip" title="Twitter"><i class="fa fa-twitter"></i></a> 
          </div>
          <!-- UI Social Icon Ends -->
        </div>
        <!-- UI Item Ends -->
      </div>
      <!-- Column Ends -->
      <!-- Column Starts -->
      <div class="col-md-3 col-sm-4 col-xs-12 bor">
        <!-- UI Item Starts -->
        <div class="ui-item bg-lblue">
          <h4 class="rotate-right"><span>Jeefy</span></h4>
          <%= image_tag "user/7.jpg", class: "img-responsive" %>          <!-- UI Social Icon Starts -->
          <div class="ui-icons">
            <!-- Email Icon -->
            <a href="#" class="b-tooltip" title="Email"><i class="fa fa-envelope"></i></a>&nbsp;&nbsp;
            <!-- Phone Icon -->
            <a href="#" class="b-tooltip" title="Phone"><i class="fa fa-phone"></i></a>&nbsp;&nbsp;
            <!-- Facebook Icon -->
            <a href="#" class="b-tooltip" title="Facebook"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
            <!-- Twitter Icon -->
            <a href="#" class="b-tooltip" title="Twitter"><i class="fa fa-twitter"></i></a> 
          </div>
          <!-- UI Social Icon Ends -->
        </div>
        <!-- UI Item Ends -->
      </div>
      <!-- Column Ends -->
      <!-- Column Starts -->
      <div class="col-md-3 col-sm-4 col-xs-12 bor">
        <!-- UI Item Starts -->
        <div class="ui-item bg-brown">
          <h4 class="rotate-right"><span>Jenifer</span></h4>
          <%= image_tag "user/8.jpg", class: "img-responsive" %>          <!-- UI Social Icon Starts -->
          <div class="ui-icons">
            <!-- Email Icon -->
            <a href="#" class="b-tooltip" title="Email"><i class="fa fa-envelope"></i></a>&nbsp;&nbsp;
            <!-- Phone Icon -->
            <a href="#" class="b-tooltip" title="Phone"><i class="fa fa-phone"></i></a>&nbsp;&nbsp;
            <!-- Facebook Icon -->
            <a href="#" class="b-tooltip" title="Facebook"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
            <!-- Twitter Icon -->
            <a href="#" class="b-tooltip" title="Twitter"><i class="fa fa-twitter"></i></a> 
          </div>
          <!-- UI Social Icon Ends -->
        </div>
        <!-- UI Item Ends -->
      </div>
      <!-- Column Ends -->
    </div>
    <!-- Row Ends -->
  </div>
  <!-- UI 50 Ends -->
</div>
<!-- Container Ends -->
