<div ng-app="app">
  <div ng-controller="appointmentsCtrl" ng-init="setup(<%=@mentor.id%>)"> 
    <div class="page-heading-one">
      <h2 id="mentors-header" class="">Mentors</h2>
    </div>
    <h1>Mentor Appointments Available for:</h1>
    <div class = "container">
      <div class="ui-50">
        <div class = "row">
          <div class="col-md-3 col-sm-4 col-xs-12 bor">
            <div class="ui-item bg-red">
              <h4 class="rotate-right"><span><%= @mentor.full_name %></span></h4>
              <%= image_tag @mentor.photo , class: "img-responsive" %>
              <h4><%= @mentor.bio %></h4>
              <h4><%= @mentor.email %></h4>

              <div class="ui-icons">
                  <!-- Email Icon -->
                  <a href="mailto:<%=@mentor.email%>"  class="b-tooltip" title="Email"><i class="fa fa-envelope"></i></a>
                  <!-- Phone Icon -->
                  <!-- <a href="#" class="b-tooltip" title="Phone"><i class="fa fa-phone"></i></a>&nbsp;&nbsp; -->
                  <!-- Facebook Icon -->
                  <a href="#" class="b-tooltip" title="Facebook"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
                  <!-- Twitter Icon -->
                  <a href="#" class="b-tooltip" title="Twitter"><i class="fa fa-twitter"></i></a> 
              </div>
                <h4><%= @mentor.full_name %>'s Available Appointments:<br>Please select the appointment you would like to schedule.</h4> 
                <h4><%= link_to 'Back to Mentors', mentors_path %></h4>
                <h4>{{greeting}}</h4>
                <h4>{{greetingTwo}}</h4>
                  <!-- {{ testphrase}} --> 

                <div ng-repeat="appointment in appointments" ng-click="selectAppointment(appointment)"  required >                  
                  <button class="appointmentButton" style="margin-left: 60px;" >{{appointment.date_start_time | date:'medium'}}<br>{{appointment.duration}} minutes<br></button>
                </div>                             
                 
                  <form name="frm" ng-submit="enterInfo(addName, addEmail)">
                    <h4>Enter Your Full Name:</h4>
                    <input type="text" name="addName" ng-model="addName" style="margin-left: 50px;" required/>
                    <h4>Enter Your Email Address:</h4>
                    <input type="text" name="addEmail" ng-model="addEmail" style="margin-left: 50px;" required/><br><br>
                    <button ng-disable="frm.$invalid" style="margin-left: 105px;" ng-hide="!addName || !addEmail">Submit</button>
                    </form>          
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>