<div ng-app="app">
  <div ng-controller="appointmentsCtrl" ng-init="setup(<%=@mentor.id%>)"> 
    <div class="page-heading-one">
      <h2 id="mentors-header" class="">Mentors</h2>
    </div>
    <div class = "container">
    <h1>Appointments Available for: <%= @mentor.full_name %></h1>
      <div class="ui-50">
        <div class = "row">
          <div class="col-md-4 col-sm-4 col-xs-12 bor">
            <div class="ui-item bg-black">
              <h4 class="rotate-right"><span><%= @mentor.full_name %></span></h4>
              <%= image_tag @mentor.photo , class: "img-thumbnail" %>
              <h4><%= @mentor.bio %></h4>      
            </div>
          </div> <!-- mentor bio -->
          <div class="col-md-4 col-sm-4 col-xs-12 bor">
            <div class="ui-item bg-black">
              <div>
                <button id="mentor-button"><h4><%= link_to 'Click to go Back to Mentors', mentors_path %></h4></button>
                <!-- <h4>{{greetingScheduled}}</h4> -->
              </div>

                <h4>Email <%= @mentor.first_name %> if you have any questions!</h4>
              <div class="ui-icons">
              <!-- Email Icon -->
              <a href="mailto:<%=@mentor.email%>?subject=1871 mentee inquiry"  class="b-tooltip" title="Email"><i class="fa fa-envelope"></i></a>
              </div> <!-- icon class -->
                <h4><%= @mentor.full_name %>'s Available Appointments:<br>Please select the appointment you would like to schedule.</h4> 
                <h4>{{greeting}}</h4>

                <div ng-repeat="appointment in appointments" ng-click="selectAppointment(appointment)" required>                  
                  <button class="appointmentButton" >{{appointment.date_start_time | date:'MMM d, y hh:mm a': 'UTC' }}<br>{{appointment.duration }} minutes<br></button>
                </div> <!-- ng-repeat  -->       
                <form name="frm" ng-submit="enterInfo(addName, addEmail)">
                  <h4>Enter Your Full Name:</h4>
                  <input type="text" name="addName" ng-model="addName" class="addNameAddress" required/>
                  <h4>Enter Your Email Address:</h4>
                  <input type="text" name="addEmail" ng-model="addEmail" class="addNameAddress" required/><br><br>
                  <button ng-disable="frm.$invalid" style="margin-left: 105px;" ng-hide="!addName || !addEmail" >Submit</button>

                  <div ng-if="spinnerRunning" id="example-placeholder">
                    <%= image_tag("loader.gif")%>                
                  </div>
                  
                </form> 
              </div>

              

            </div> <!-- availabale appointments -->
            <% if user_signed_in? && current_user.admin? %>
            <div class="col-md-4 col-sm-4 col-xs-12 bor">
              <div class="ui-item bg-red">
              <h4><button id="mentor-button"><a href="/admins">Back to Admin Page</a></button></h4>
                <h4 class="form_title">Add Appointments</h4>
                <div class="new_appointment_form">

                  <div class="form_field">
                    <label>Event Date: </label><input type="date" ng-model="newEventDate">
                  </div>

                  <div class="form_field">
                    <label>Event Time: </label>
                    <select ng-model="newTimeHour">
                      <% @hours.each do |hour| %>
                      <option><%= hour %></option>
                      <% end %>
                    </select>:
                    <select ng-model="newTimeMinutes">
                      <% @minutes.each do |minute_value| %>
                      <option><%= minute_value %></option>
                      <% end %>
                    </select>
                  <select ng-model="newAmPm">
                    <option>AM</option>
                    <option>PM</option>
                  </select>
                </div>

                <div class="form_field">
                  <label>Num. of Slots: </label>
                  <select ng-model="newNumberOfSlots">
                    <% @hours.each do |slot| %>
                    <option><%= slot %></option>
                    <% end %>
                  </select>
                </div>

                <div class="form_field">
                  <label>Slot Duration: </label>
                  <select ng-model="newAppointmentDuration">
                    <% @appointment_durations.each do |appointment_duration| %>
                    <option><%= appointment_duration %></option>
                    <% end %>
                  </select>
                </div>
                <div class="form_field">
                  <label>Breaks: </label>
                  <select ng-model="newBreakDuration">
                    <% @break_times.each do |break_time| %>
                    <option><%= break_time %></option>
                    <% end %>
                  </select>
                </div>

                <button ng-click="createAppointment(newEventDate, newTimeHour, newTimeMinutes, newAmPm, newAppointmentDuration, newBreakDuration, newNumberOfSlots)">Create Appointment</button>
              </div> <!-- appointment form -->
              <% end %>
            </div>
        </div> <!-- mentor information row -->            
      </div> <!-- ui-50 -->
    </div> <!-- container -->
  </div> <!-- ng-controller -->
</div> <!-- ng-app -->
