<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<h1>Your Appointment</h1>

<h2>Thank you, <%= @appointment.mentee_name %></h2>
<h2>Your appointment is scheduled for <%= @appointment.date_start_time.strftime("%I:%M %p") %></h2><h2> on  <%= @appointment.date_start_time.strftime("%a %v") %> and will last for <%= @appointment.duration %> minutes</h2>
<h2>with <%= @appointment.mentor.full_name %></h2>

  </body>
</html>