<!DOCTYPE html>
<html>
<head>
  <title>OfficeHoursApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Top bar starts -->
  <div class="top-bar">
    <div class="container">
    
      <!-- Contact starts -->
      <div id="made-by" class="tb-contact ">
        <!-- Email -->
        Made with <i class="fa fa-heart color"></i> by the <a href="http://anyonecanlearntocode.com" target="_blank" class="color">Anyone Can Learn To Code</a> class of Fall 2014 
      </div>
      <!-- Contact ends -->
      
      <div class="clearfix"></div>
    </div>
  </div>
  
  <!-- Top bar ends -->
  
  <!-- Header two Starts -->
  <div class="header-2">
  
    <!-- Container -->
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <!-- Logo section -->
          <div class="logo">
            <h1><a href="/"><%= image_tag "logo.png", width: 120 %></a></h1>
            <h4 id="sub-logo">Office Hours</h4>
          </div>
        </div>
        <div class="col-md-9">
        
          <!-- Navigation starts.  -->
          <div class="navy">      
            <ul>
              <!-- Main menu -->
              <li><a>Quick links</a>
                <!-- Submenu -->
                <ul>
                  <!-- 2nd Level sub menu -->
                  <li><a href="/mentors">Available Mentors</a></li>
                  <li><a href="/admins">Admins Page></a></li>              
                </ul>
              </li>

              <li><a href="http://www.1871.com/about-1871/" target="_blank">About Us</a></li>
              <li><a href="mailto:contact@1871.com?subject=Mentor appointments website">Contact Us</a></li>
            </ul>
          </div>              
          <!-- Navigation ends -->
          
        </div>
        
        <div class="col-md-1">
          <div class="clearfix"></div>
          
        </div>
        
      </div>
    </div>
  </div>

  <!-- Header two ends -->

  <!-- Outer Starts -->
  <div class="outer">
    
    <!-- Main content starts -->

    <div class="main-block">

      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %> alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= message %>
        </div>
        <% end %>
      <%= yield %>
    </div>
    <!-- Main content ends -->
    
    <!-- Foot Starts -->
  
    <div class="foot">
      <!-- Container -->
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <!-- Foot Item -->
            <div class="foot-item">
              <!-- Heading -->
              <h5 class="bold"><i class="fa fa-user"></i>&nbsp;&nbsp;About 1871</h5>
              <p>BEHIND THE BRAND<br>
1871 is Chicago’s entrepreneurial hub for digital startups. Located in the famed Merchandise Mart, the 50,000-square-foot facility provides Chicago startups with programming, access to mentors, educational resources, potential investors and a community of like-minded entrepreneurs that help them on their path to building successful businesses. 1871 is the flagship project of the CEC.
In the summer of 2011, when 1871 was still just an aspiration, the Chicago Entrepreneurial Center convened Chicago’s most distinguished entrepreneurs, venture capitalists, educators, and government officials to participate in a Brand Summit and define the purpose of our city’s new tech center. Amidst the flurry of inspired thinking and heightened passion, there arose a very simple idea:<br>
 
WE ARE A CITY OF BUILDERS.<br>

And from this seed of an idea came the inspiration for the name 1871. Like the Great Chicago Fire of that year, 1871 would also serve as a catalytic and transformative part of our city’s history. Our space would be a place that would enable Chicago to emerge as a major center of technology, not just in the U.S., but the world – with 1871 at the core.
 </p>
              <div class="brand-bg">
                <!-- Social Media Icons -->
                <a href="http://facebook.com/1871Chicago" target="_blank" class="facebook"><i class="fa fa-facebook circle-3"></i></a>
                <a href="http://twitter.com/1871Chicago" target="_blank" class="twitter"><i class="fa fa-twitter circle-3"></i></a>
                <a href="https://plus.google.com/116756822388435785690/videos" target="_blank" class="google-plus"><i class="fa fa-google-plus circle-3"></i></a>
                <a href="https://www.linkedin.com/company/1871-com?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A46198721392417966804%2CVSRPtargetId%3A2460804%2CVSRPcmpt%3Aprimary" target="_blank" class="linkedin"><i class="fa fa-linkedin circle-3"></i></a>
                <a href="http://instagram.com/1871chicago"  target="_blank" class="instagram"><i class="fa fa-instagram circle-3"></i></a>
              </div>
            </div>
          </div>  
          <div class="col-md-3 col-sm-6">
            <!-- Foot Item -->
            <div class="foot-item">
              <!-- Heading -->
              <h5 class="bold"><i class="fa fa-comments"></i>&nbsp;&nbsp;Links</h5>
              <!-- Foot Item Content -->
              <div class="foot-item-content">
                <ul class="list-unstyled">
                  <!-- Link -->
                  <li><a href="http://www.1871.com/in-the-news/" target="_blank">1871 in the news</a></li>
                  <li><a href="http://www.1871.com/blog/" target="_blank">1871 Blog</a></li>
                  <li><a href="http://www.1871.com/video-library/" target="_blank">1871 Video Library</a></li>
                  <li><a href="http://www.1871.com/" target="_blank">1871 Website</a></li>
                  <li><a href="http://www.1871.com/join-us/" target="_blank">Join 1871</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <!-- Foot Item -->
            <div class="foot-item">
              <!-- Heading -->
              <h5 class="bold"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;Images</h5>
              <!-- Foot Item Content -->
              <div class="foot-item-content">
                <!-- Foot Recent Image --> 
                <div class="foot-recent-img">
                  <a href="/assets/gallery/small/logo.png" class="lightbox"><img src="/assets/gallery/small/logo.png" alt="" class="img-responsive img-thumbnail" /></a>
                </div>
                <!-- Foot Recent Image --> 
                <div class="foot-recent-img">
                  <a href="/assets/1871-background.png" class="lightbox"><img src="/assets/1871-background.png" alt="" class="img-responsive img-thumbnail" /></a>
                </div>
                <div class="foot-recent-img">
                  <a href="/assets/1871-bg-2.png" class="lightbox"><img src="/assets/1871-bg-2.png" alt="" class="img-responsive img-thumbnail" /></a>
                </div>
                <div class="foot-recent-img">
                  <ul class="list-unstyled">
                    <li><a href="http://www.1871.com/behind-the-brand/logo-gallery/" target="blank">Logo Gallery</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <!-- Foot Item -->
            <div class="foot-item">
              <!-- Heading -->
              <h5 class="bold"><i class="fa fa-building-o"></i>&nbsp;&nbsp;Contact Us</h5>
              <!-- Foot Item Content -->
              <div class="foot-item-content address">
                <!-- Heading -->
                <h6 class="bold"><i class="fa fa-home"></i>&nbsp;&nbsp;1871</h6>
                <!-- Paragraph -->
                <p class="add">
                   222 W. Merchandise Mart Plaza, 12th Floor<br />
                   Chicago, IL 60654</p>
                <p class="tel"> <i class="fa fa-phone"></i> Tel : + (312) 239-0310<br />
                <i class="fa fa-envelope"></i>  Mail : <a href="mailto:contact@1871.com?subject=Mentors appointments website">Contact@1871.com</a><br />
                <!-- <i class="fa fa-calendar"></i> Business Hours : 9:30 - 5:30</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Foot Ends -->
    
    <!-- Footer Starts -->
    
    <footer>
      <!-- Container -->
      <div class="container">
        <!-- Footer Content -->
          <!-- Paragraph -->
          <p class="pull-left">Copyright &copy; <%= Time.new.year %> - <a href="http://www.1871.com" target="_blank">1871.com</a></p>
            <!-- List -->
          <ul class="list-inline pull-right">
            <% if user_signed_in? %>
              <li><a href="/users/sign_out">Admin Sign Out</a></li>
              <% else %>
              <li><a href="/users/sign_in">Admin Sign in</a></li>
              <!-- <li><a href="/users/sign_up">Admin Sign up</a></li> -->
              <% end %>
          </ul>
          <!-- Clearfix -->
          <div class="clearfix"></div>
      </div>
    </footer>
    
    <!-- Footer Ends -->
  
  </div>
  
  <!-- Outer Ends -->  

</body>
</html>
